.sidebar{
    flex: 0.3;
    /* border-right: 2px solid #000; */
}

.sidebar > span{
    color: rgb(95, 85, 85);
    font-weight: 600;
}

.side__search__bar{
    display: flex;
}

.search__logo{
    background-color: #000;
    color: #fff;
}
